---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
---

<html lang="ja">
  <BaseHead title="idxma.net" />
  <body style="font-family: 'Zen Kaku Gothic New', sans-serif; background-color: #dcdcdc; margin: 0; padding: 0;">
    <header style="text-align: center; padding: 2rem 0;">

      <img src="/me-icon.png" alt="プロフィール画像" style="width: 200px; height: 165px; border-radius: 50%;" />
      <h1 style="margin: 1rem 0;">kou</h1>
      <p style="margin: 0 0 2rem;">PC, 音響, デザイン, 車などがすき。<br>
      細々と暮らしています。</p>

      <div style="display: flex; justify-content: center; gap: 1rem;">
        <a href="https://github.com/idxma" target="_blank">
          <img src="/github-icon.png" alt="GitHub" style="width: 40px; height: 40px;" />
          <div style = "margin-top: 8px;">GitHub</div>
        </a>
        <a href="https://x.com/idxma" target="_blank">
          <img src="/x-icon.png" alt="X" style="width: 40px; height: 40px;" />
          <div style = "margin-top: 8px;">X</div>
        </a>
        <a href="https://keybase.io/idxma" target="_blank">
          <img src="/keybase-icon.png" alt="keybase" style="width: 40px; height: 40px;" />
          <div style = "margin-top: 8px;">Keybase</div>
        </a>
      </div>
    </header>

	<main style="padding: 2rem; display: flex; flex-direction: column; align-items: center; border: 2px solid #000; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); max-width: 800px; margin: 0 auto;">
		<section style="margin-bottom: 2rem; width: 100%; text-align: left;">
		  <h2>Affiliation</h2>
		  <p>・Department of Electrical and Electronic Engineering, Tokyo Denki University</p>
		<section>
			<section style="margin-bottom: 2rem; width: 100%; text-align: left;">
				<h2>Favorites</h2>
				<p>・Computer： Infrastructure, OS<br>
        ・Audio：最近はMarantz HD-AMP1で雑多に聴く事が多い。ヘッドホンはK701信者です<br>
        ・Game：FF14, VRC, Splatoon<br>
        ・Anime：serial experiments lain, ソードアート・オンライン, 〈物語〉シリーズ</p>
			</section>
		<section style="margin-bottom: 2rem; width: 100%; text-align: left;">
		  <h2>Activities</h2>
		  <p>・CODE BLUE 2024 学生スタッフ<br>
		  ・セキュリティ・ミニキャンプ in 宮城 2024</p>
		</section>
	  </main>

    <Footer />
  </body>
</html>